.container {
    min-height: 60vh;
    padding: 20px;
    text-align: center;
}

.container a{
    color: black;
    margin-right: 1em;
    text-decoration: none;
    transition: 0.3s;
}


.container a:hover {
    color: black;
}